<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sorinaidea.ghaichi">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-sdk tools:overrideLibrary="co.ronash.pushe" />
    <permission
        android:name="com.sorinaidea.ghaichi.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sorinaidea.ghaichi.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Optional permissions -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name=".util.SorinaApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="com.sorinaidea.ghaichi"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.sorinaidea.ghaichi" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="co.ronash.pushe.token"
            android:value="PUSHE_368127776897" />
        <meta-data
            android:name="co.ronash.pushe.cr"
            android:value="Tm9uZQ==" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver
            android:name=".util.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- ACTIVITIES -->

        <!-- User Activities -->

        <!-- Barbershop Activities -->

        <activity
            android:name=".ui.LoginCheckActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".ui.CityChooserActivity"
            android:label="@string/label_choose_city"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ui.CommentsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ReservationActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.barbershop.activity.CategoriesActivity"
            android:label="@string/label_aboutus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ShowDirectionActivity"
            android:label="@string/label_aboutus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ReserveActivity"
            android:label="@string/label_aboutus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ReserveStep1Activity"
            android:label="@string/label_aboutus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SettingActivity"
            android:label="@string/label_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.barbershop.activity.BarbershopProfileActivity"
            android:label="@string/label_setting"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ui.ImageSliderActivity"
            android:label="@string/label_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.UserProfileActivity"
            android:label="@string/label_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BarberShopGridActivity"
            android:label="@string/label_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.barbershop.activity.AddServiceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.barbershop.activity.RequestAdvertisementActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.barbershop.activity.AddBarberActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.barbershop.activity.PaymentActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ui.barbershop.activity.ShowSampleActivity"
            android:label="@string/label_aboutus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.FaqActivity"
            android:label="@string/label_aboutus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AboutUsActivity"
            android:label="@string/label_aboutus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BarberChooseLocationActivity"
            android:label="@string/label_aboutus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.NewMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BookmarksActivity"
            android:label="@string/lable_activity_bookmarks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BarberShopActivity"
            android:label="BARBERSHOP"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CreditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.barbershop.activity.SamplesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.barbershop.activity.BannersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.barbershop.activity.BarbersActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.GetGiftActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.barbershop.activity.ServicesActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BarberMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ui.AdvertismentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AdvertismentInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SmsVerificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.PersonalInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SendSupportTicketActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.PaymentCallBack"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="start"
                    android:scheme="sorina" />
            </intent-filter>
        </activity>
    </application>

</manifest>